n8n-workflow.json
{
  "name": "KIDTIME",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "802c3f7e-3fa8-45aa-a6e9-3b187aeafc4e",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "50fede86-5c22-4658-8ddd-d45fe7519862",
      "name": "Webhook",
      "webhookId": "802c3f7e-3fa8-45aa-a6e9-3b187aeafc4e"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst msg = body.message || '';\nconst fileContent = body.file_content || '';\nconst hasFile = fileContent.length > 0;\n\nreturn [{\n  json: {\n    message: msg,\n    file_content: fileContent,\n    has_file: hasFile,\n    child_id: body.child_id || 0,\n    auth_token: body.auth_token || ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "id": "parse-input",
      "name": "Parse Input"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-file-check",
              "leftValue": "={{ $json.has_file }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 0],
      "id": "has-file",
      "name": "Has File?"
    },
    {
      "parameters": {
        "model": "claude-opus-4-6",
        "options": {},
        "messages": {
          "messageValues": [
            {
              "role": "user",
              "content": "=Extract ALL tasks, homework and exams from this document text. Return ONLY a valid JSON array with no explanation.\nEach item must have: {\"title\": string, \"type\": \"homework\" or \"test\" or \"activity\" or \"other\", \"due_date_offset_days\": number (0=today, 1=tomorrow, 7=next week)}\nDocument text:\n{{ $json.file_content }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [660, -140],
      "id": "claude-file",
      "name": "Claude - Extract from File"
    },
    {
      "parameters": {
        "model": "claude-opus-4-6",
        "options": {},
        "messages": {
          "messageValues": [
            {
              "role": "user",
              "content": "=Extract tasks from this Hebrew message. Return ONLY a valid JSON array with no explanation.\nEach item must have: {\"title\": string, \"type\": \"homework\" or \"test\" or \"activity\" or \"other\", \"due_date_offset_days\": number (0=today, 1=tomorrow, 7=next week)}\nMessage: {{ $json.message }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [660, 140],
      "id": "claude-text",
      "name": "Claude - Parse Message"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst raw = response.text || response.content || (Array.isArray(response.content) ? response.content[0]?.text : '') || '';\n\nlet tasks = [];\ntry {\n  const match = raw.match(/\\[.*\\]/s);\n  if (match) tasks = JSON.parse(match[0]);\n} catch(e) { tasks = [{ title: 'משימה חדשה מהמסמך', type: 'homework', due_date_offset_days: 0 }]; }\n\nif (!tasks.length) tasks = [{ title: 'משימה חדשה', type: 'homework', due_date_offset_days: 0 }];\n\nconst now = Math.floor(Date.now() / 1000);\nconst DAY = 86400;\nconst childId = $node['Parse Input'].json.child_id;\nconst authToken = $node['Parse Input'].json.auth_token;\n\nreturn tasks.map(t => ({\n  json: {\n    title: t.title || 'משימה חדשה',\n    type: ['homework','test','activity','other'].includes(t.type) ? t.type : 'homework',\n    status: 'pending',\n    due_date: now + ((t.due_date_offset_days || 0) * DAY),\n    child_id: childId,\n    auth_token: authToken\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0],
      "id": "parse-tasks",
      "name": "Parse Tasks"
    },
    {
      "parameters": {
        "url": "https://x8ki-letl-twmt.n7.xano.io/api:UgeJ6dlR/Task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.auth_token }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json.title }}\",\n  \"type\": \"{{ $json.type }}\",\n  \"status\": \"pending\",\n  \"due_date\": {{ $json.due_date }},\n  \"child_id\": {{ $json.child_id }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 0],
      "id": "save-xano",
      "name": "Save Task to Xano"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"reply\": \"המשימות נוספו בהצלחה! ✅\", \"task_created\": true }"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1320, 0],
      "id": "respond",
      "name": "Respond"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Parse Input", "type": "main", "index": 0 }]]
    },
    "Parse Input": {
      "main": [[{ "node": "Has File?", "type": "main", "index": 0 }]]
    },
    "Has File?": {
      "main": [
        [{ "node": "Claude - Extract from File", "type": "main", "index": 0 }],
        [{ "node": "Claude - Parse Message", "type": "main", "index": 0 }]
      ]
    },
    "Claude - Extract from File": {
      "main": [[{ "node": "Parse Tasks", "type": "main", "index": 0 }]]
    },
    "Claude - Parse Message": {
      "main": [[{ "node": "Parse Tasks", "type": "main", "index": 0 }]]
    },
    "Parse Tasks": {
      "main": [[{ "node": "Save Task to Xano", "type": "main", "index": 0 }]]
    },
    "Save Task to Xano": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
