n8n-workflow.json
{
  "name": "KIDTIME Bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kidtime-bot",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "node-webhook",
      "name": "Webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json || {};\nconst message = body.message || '';\nconst fileContent = body.file_content || '';\nconst childId = body.child_id || 0;\nconst authToken = body.auth_token || '';\n\nconst userText = fileContent.length > 0\n  ? `Extract ALL tasks, homework and exams from this document. Return ONLY a JSON array. Each item: {\"title\": string, \"type\": \"homework\" or \"test\" or \"activity\" or \"other\", \"due_days\": number (0=today,1=tomorrow,7=next week)}\\n\\nDocument:\\n${fileContent.substring(0, 8000)}`\n  : `Extract tasks from this Hebrew message. Return ONLY a JSON array. Each item: {\"title\": string, \"type\": \"homework\" or \"test\" or \"activity\" or \"other\", \"due_days\": number}\\n\\nMessage: ${message}`;\n\nreturn [{ json: { userText, childId, authToken, message, fileContent } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "id": "node-prepare",
      "name": "Prepare Prompt"
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $credentials.httpHeaderAuth.value }}" },
            { "name": "anthropic-version", "value": "2023-06-01" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 1024,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": {{ JSON.stringify($json.userText) }}\n  }]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "id": "node-claude",
      "name": "Call Claude API"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst raw = response.content?.[0]?.text || '';\n\nlet tasks = [];\ntry {\n  const match = raw.match(/\\[.*\\]/s);\n  if (match) tasks = JSON.parse(match[0]);\n} catch(e) {}\n\nif (!tasks.length) {\n  tasks = [{ title: $node['Prepare Prompt'].json.message || 'משימה חדשה', type: 'homework', due_days: 0 }];\n}\n\nconst now = Math.floor(Date.now() / 1000);\nconst DAY = 86400;\nconst childId = $node['Prepare Prompt'].json.childId;\nconst authToken = $node['Prepare Prompt'].json.authToken;\n\nreturn tasks.slice(0, 10).map(t => ({\n  json: {\n    title: String(t.title || 'משימה חדשה').substring(0, 200),\n    type: ['homework','test','activity','other'].includes(t.type) ? t.type : 'homework',\n    status: 'pending',\n    due_date: now + (Math.max(0, parseInt(t.due_days) || 0) * DAY),\n    child_id: childId,\n    auth_token: authToken\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0],
      "id": "node-parse",
      "name": "Parse Tasks"
    },
    {
      "parameters": {
        "url": "https://x8ki-letl-twmt.n7.xano.io/api:UgeJ6dlR/Task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.auth_token }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": {{ JSON.stringify($json.title) }},\n  \"type\": {{ JSON.stringify($json.type) }},\n  \"status\": \"pending\",\n  \"due_date\": {{ $json.due_date }},\n  \"child_id\": {{ $json.child_id }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 0],
      "id": "node-xano",
      "name": "Save to Xano"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"reply\": \"המשימות נוספו בהצלחה! ✅\", \"task_created\": true }"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1100, 0],
      "id": "node-respond",
      "name": "Respond"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Prepare Prompt", "type": "main", "index": 0 }]]
    },
    "Prepare Prompt": {
      "main": [[{ "node": "Call Claude API", "type": "main", "index": 0 }]]
    },
    "Call Claude API": {
      "main": [[{ "node": "Parse Tasks", "type": "main", "index": 0 }]]
    },
    "Parse Tasks": {
      "main": [[{ "node": "Save to Xano", "type": "main", "index": 0 }]]
    },
    "Save to Xano": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
